<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Incident</title>
</head>
<body>
	<table>
		<thead>
			<h1>Add Incident</h1>
		</thead>
		<tbody>
			<div>
			<tr>
				<th>Incident Description:</th>
				<th><textarea rows="1" cols=""></textarea></th>
			</tr>
			<tr>
				<th>Developer:</th>
				<th><textarea rows="1" cols=""></textarea></th>
			</tr>
			<tr>
				<th>Impacted Transaction:</th>
				<th><textarea rows="1" cols=""></textarea></th>
			</tr>
			</div>
			<div>
				<tr>

					<th><a href="/submitIncident">Add Incident</th>
					<th><a href="/incidents">Cancel</th>
				</tr>
			</div>
		</tbody>
	</table>
</body>
</html>